/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* Variabili */
:root {
  --primary-color: #00ffff;
  --secondary-color: #10a5f5;
  --column: 10;
}

/* General */
.container {
  margin: 0 auto;
  width: 80%;
}

.btn {
  background-color: var(--primary-color);
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
  border: 1px solid #fff;
}

.bg-white {
  background-color: #fff;
}

.d-none {
  display: none;
}
/* Header */
.head-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  display: flex;
  padding: 10px 0;
  align-items: center;
  width: 50%;
}

.logo-txt {
  font-size: 2em;
  font-weight: bold;
  width: 80%;
}

#logo {
  width: 10%;
  margin-right: 10px;
}

#difficult {
  margin: 0 10px;
}

/* Main */
.hero {
  background-color: var(--primary-color);
  padding: 60px 0;
}

.main-container {
  margin: 0px auto;
  width: 60%;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #000;
  height: calc(100% / var(--column));
  width: calc(100% / var(--column));
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: var(--secondary-color);
}

/* Footer */
.foot {
  padding: 20px 0 10px 0;
}

.foot span {
  color: var(--primary-color);
}

.foot a {
  color: var(--secondary-color);
}
